.note-container {
  border: 1px solid red;
  margin: 2rem 3rem;
}
.wrapper {
  border: 1px solid gold;
  display: flex;
  padding: 2rem 0rem;
  justify-content: space-around;
}
aside {
  border: 1px solid green;
  padding: 1rem;
  width: 30%;
}
.note-btn {
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  background-color: var(--gradient-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bolder;
}
.note-btn:hover {
  background-color: var(--primary-color);
  color: var(--gradient-color);
}
ul li {
  /* border: 1px solid red; */
  margin-bottom: 0.5rem;
}
main {
  border: 2px solid blue;
  width: 60%;
}
.search-bar {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.note-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}
section {
  background: #f0f0f0;
  min-height: 10rem;
  padding: 0rem 1rem;
}
.icon {
  color: gray;
  margin-right: 0.5rem;
  margin-top: 0.4rem;
}
.title {
  font-size: 2rem;
  color: var(--action-color);
  text-decoration: underline var(--gradient-color);
}
